#bg-banner-image {
    background: url("intro-bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding-bottom: 75px;
}

#bg-grey {
    background-color: #EFEFEF;
    padding-top: 65px;
    padding-bottom: 25px;
}

h1 {
    font-weight: bold;
    font-size: 5em;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: #252525;
}

#download-li {
    padding: 9px 14px;
    border-style: solid;
    border-width: .5px;
    border-color: #ffffff;
}


/* Media queries for resizing headers */
@media (max-width: 480px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.7em;
    }
 }

@media (max-width: 768px) {
   h1 {
       font-size: 4em;
   }
}


/* Bootstrap overrides for nav and children */
.navbar {
    padding-top: 15px;
    padding-bottom: 100px;
}

.navbar-default {
    border-style: none;
}

.navbar-default, .navbar-header .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:active {
    background: none;
    color: #ffffff;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 30px;
}

.nav > li > a {
    padding: 10px 15px;
    margin-top: 5px;
}

.nav > li > a:hover {
    padding: 9px 14px;
    border-style: solid;
    border-width: .5px;
    border-color: #ffffff;
}


/* Bootstrap overrides for thumbnails and children */
.thumbnail {
    background: none;
    border-style: none;
}

.thumbnail > .caption > a.btn-primary {
    margin-top: 15px;
    color: #252525;
    background: none;
    border-radius: 0;
    border-width: 2px;
    border-color: #252525;
}

.thumbnail > .caption > a {
    font-weight: bold;
}