#bg-image-hero {
    background: url(https://blackrockdigital.github.io/startbootstrap-landing-page/img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding-bottom: 75px;
}

#bg-grey {
    background-color: #EFEFEF;
    padding-top: 65px;
}

a {
    color: #ffffff;
}

h1 {
    font-weight: bold;
    font-size: 5em;
}

h3 {
    font-size: 1.2em;
    color: #252525;
}

#download-li {
    background: none;
    color: #ffffff;
    padding: 14px;
    border-style: solid;
    border-width: .5px;
    border-color: #ffffff;
}

/* Bootstrap nav overrides*/
.navbar {
    padding-top: 15px;
    padding-bottom: 100px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 30px;
}

.nav > li > a:hover {
    background: none;
    color: #ffffff;
    padding: 14px;
    border-style: solid;
    border-width: .5px;
    border-color: #ffffff;
}

.nav > li > a:active {
    background: none;
    color: #ffffff;    
}

.navbar-header > a:hover {
    color: #ffffff;    
}